body{background-color: #CCFF66;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;}
.wrapper{width: 900px;
       height: 1000px;
        margin: 0 auto;
        padding: 15px;
        background-color: white;}
.header{width:900px;
        height: 70px;
        float: left;
    background-color: #66FF99;
margin-bottom: 15px;}
.header img{float: left;}
.header p{float: right;
            vertical-align: text-top;
        color:white;
        font-size: 16px;}
        a:link, 
        a:visited {
            color:blue;
            text-decoration: none;
        }
        a:hover {
            color: green;
            text-decoration: underline;
        }
        a:active {
            color: black;
        }
ul{padding: 0px;
    margin: 0px;
    list-style-type: none;}
.nav{width: 900px;
    height: 40px;
    float: left;
    margin-bottom: 15px;
    background-color: #FFFF99;
    font-size:16px;
    font-weight: bold;}
.nav ul li{float: left;
            position: relative;}
.nav ul li ul li{float: none;
                border-top: 1px solid white;
                font-size: 11px;
                }
.nav ul li a {
	display: block;
	height: 20px;
	padding: 10px;
}
.nav ul li a:link,
.nav ul li a:visited {
	color: #333300;
	text-decoration: none;
}
.nav ul li a:hover {
	background-color: #66FF99;
}
.nav ul li a:active {
	background: #777777;
}
.nav ul li ul li a:link,
.nav ul li ul li a:visited {
	color:#333300;
    text-decoration: none;
    background-color:#66FF99;
}
.nav ul li ul li a:hover {
	background-color: #CCFF99;
}
.nav ul li ul li a:active {
	background: #777777;
}
.nav ul li ul{position: absolute;
    top: 40px;
    left: 0;
    width: 140px;
    display: none;}
.nav ul li:hover ul{display: block;}


.social{float: right;
        font-size: 24px;
        margin-left: 2px;
        margin-top:5px}
.social a:link,
.social a:visited{color:#00CC99 ;}
.social a:hover{color:green;}
.social a:active{color:gray}
h1{font-size: 40px;}
.slide-conteiner{width: 500px;
    height: 180px;
    overflow: hidden;
    text-align: center;
    float: right;}
.image-conteiner{width: 2000px;
    height: 180px;
    position: relative;
    transition: left 2s;}
.slider-image{float: left;
    margin: 0;
    padding: 0;}
.button-conteiner{top: -20px;
    position: relative;}
.slider-button{width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;}
#slider-image-1:target ~ .image-conteiner{left: 0;}
#slider-image-2:target ~ .image-conteiner{left: -500px}
#slider-image-3:target ~ .image-conteiner{left: -1000px;}
#slider-image-4:target ~ .image-conteiner{left: -1500px;}
h1{font-size: 40px;}
.main{float: left;
    margin-left:0;
    margin-right: 15px;
    width:385px;
    background-color:white;
    color: #333300;}
.main ul {margin:10px;
        padding: 10px;
        list-style-type: circle;}
        .scroll-arrow{position: absolute;
            top: 50px;
            width: 46px;
            height: 46px;
            margin:0 auto;
             left: 0;
            right: 0;
            
            display: block;
           
            border: 5px solid #333300;
            border-radius: 100%;
            float: left;
        }
    .scroll-arrow::before{position: absolute;
                content: "";
                left: 0;
                right: 0;
                top:10px;
                width: 16px;
                height: 16px;
                margin: 0 auto;
                border-left: 5px solid #333300;
                border-bottom: 5px solid #333300;
                transform: rotate(-45deg);}
    .sidebar{width: 500px;
            float: right;
            position: relative;
            height: 500px;
            margin-top: 15px;}
    .sidebar h2{margin-left: 170px;
                position: absolute;
                top: 1px}
    




           

